[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pre-commit = "*"
flake8 = "*"
autoflake = "*"
python-dotenv = "*"
drf-spectacular = "*"
django-rest-swagger = "*"
psycopg2 = "*"
django-celery-beat = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
